<h1>Create New Message</h1>
<form method="post" action="/new">
  <label for="author">Author</label>
  <input type="text" name="author" />

  <label for="message"></label>
  <textarea type="text" name="message"></textarea>

  <button type="submit">Submit</button>
</form>
